.navbar_about {
    background: linear-gradient(to right, #5c62d3, #86488e  );
    overflow: hidden;
    padding: 7.5px 7.5px;
}

.navbar_about a{
    float: right;
    color: rgb(11, 10, 10);
    font-weight: 400;
    text-align: centre;
    padding: 20px 20px;
    font-size: 150%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.name{
    position: absolute;
    float: left;
}
body{
    margin: 0;
    background: linear-gradient(to right,#5c62d3, #86488e  );
} 
.icon {
    width: 50px;
    height: 50px;
    margin-right: 10px; 
} 

.box{
    display: flex;
    align-items: center;
}
.info{
    width: 60%;
    text-align: left;
    font-size: medium;
}
.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.connect{
    width: 40%;
}
.rectangle{
    padding: 5px;
    width: 80%;
    height: 20px;
    background-color: rgb(196, 177, 219);
    border-radius: 10px;
    margin-bottom: 5%;
}
.rectangle3{
    padding: 5px;
    background-color: rgb(196, 177, 219);
    width: 80%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 5%;
} 
.Name{
    margin-left: 20%;
}
h1{
    text-align: center;
} 
input{
    background-color:  rgb(196, 177, 219);
    border: aqua;
    width: 100%;
} 
h3{
    margin: 0;
    font-size: medium;
}
.text{
    height: 200px;
    width: 100%;
} 
.row{
    display: flex;
}
.oval{
    display: flex;
    margin-left: 5%;
    border-radius: 50%;
}

